body {
  background-color: #e5e5e5;
  font-family: Roboto;
}
.nav {
  color: #212121;
}
.nav:hover,
.nav:focus {
  color: #2196f3;
}
.contact {
  color: #757575;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}
